body {
    background-color: wheat;
}
p {
    color: #A52A2A;
    text-align: center;
    line-height: 30px;
}
h1,h3,h4{
    text-align: center;
}

h1 {
    color: red;
}
h3 {
    color: black;
}
body {
    font-family: Georgia;
}

a {
     color: rgb(0,128,0);
    text-decoration: none;
}
button {
    color:blueviolet;
    text-decoration:white;
}

textarea {
    color : #000000;
}
span {
    text-decoration: underline;
}
